<ul class="dashboard_league">
  {{#leagues}}
    <li>
      <a href="/l/{{lid}}" class="btn league" title="{{lid}}. {{name}}"><strong>{{lid}}. {{name}}<br></strong><span class="clearfix">{{region}} {{teamName}}<br></span><span class="clearfix">{{phaseText}}</span></a>
      <form action="/delete_league" method="POST" class="delete"><input type="hidden" name="lid" value="{{lid}}"><button class="btn btn-mini">Delete</button></form>
    </li>
  {{/leagues}}

  <li class="dashboard_league_new"><a href="/new_league" class="btn btn-primary league"><h2 style="">Create new league</h2></a></li>
  <li class="dashboard_league_new"><a href="/new_league" class="btn btn-primary league"><h2 style="">Import saved league</h2></a></li>
</ul>