<h1>Draft {{new_window}}</h1>

<p>When your turn in the draft comes up, select from the list of available players on the left.</p>

<p{{#if started}} style="display: none;"{{/if}}><button class="btn btn-large btn-primary" id="start-draft">Start draft</button></p>

<div class="row-fluid">
  <div class="span6">
    <h2>Undrafted Players</h2>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="undrafted">
    <thead>
      <tr><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th><th>Draft</th></tr>
    </thead>
    <tbody>
      {{#undrafted}}
        <tr id="undrafted-{{pid}}"><td>{{playerNameLabels pid name injury skills}}</td><td>{{pos}}</td><td>{{age}}<td>{{ovr}}</td><td>{{pot}}</td><td><button class="btn btn-mini btn-primary" data-player-id="{{pid}}"{{#unless ../started}} disabled="disabled"{{/unless}}>Draft</button></td></tr>
      {{/undrafted}}
    </tbody>
    </table>
  </div>
  <div class="span6">
    <h2>Draft Results</h2>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="drafted">
    <thead>
      <tr><th>Pick</th><th>Team</th><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th></tr>
    </thead>
    <tbody>
      {{#drafted}}
        <tr><td>{{rnd}}-{{pick}}</td><td><a href="/l/{{../lid}}/roster/{{abbrev}}">{{abbrev}}</a></td><td>{{#if injury}}{{playerNameLabels pid name injury skills}}{{/if}}</td><td>{{pos}}</td><td>{{age}}<td>{{ovr}}</td><td>{{pot}}</td></tr>
      {{/drafted}}
    </tbody>
    </table>
  </div>
</div>
