<script type="text/javascript">
  // Load game log list table and activate form
  $(document).ready(function () {
    function loadGameLogList(abbrev, season, firstTime) {
      abbrev = typeof abbrev !== "undefined" ? abbrev : undefined;
      season = typeof season !== "undefined" ? season : undefined;
      firstTime = typeof season !== "undefined" ? firstTime : false;

      api.gameLogList(abbrev, season, firstTime, function (html) {
          $('#game_log_list').html(html);

          if (firstTime) {
              // Click the first one to show its boxscore by default
              $('#game_log_list tbody tr').first().click();
          }
      });
    }

    $game_log_select_season = $('#game_log_select_season')
    $game_log_select_season.change(function(event) { loadGameLogList($game_log_select_abbrev.val(), $game_log_select_season.val()); });
    $game_log_select_abbrev = $('#game_log_select_abbrev')
    $game_log_select_abbrev.change(function(event) { loadGameLogList($game_log_select_abbrev.val(), $game_log_select_season.val()); });
    if ($game_log_select_season.length && $game_log_select_abbrev.length) {
      loadGameLogList($game_log_select_abbrev.val(), $game_log_select_season.val(), true);
    }

    // Clickable rows for game log list table
    $(document).on('click', '#game_log_list tbody tr', function(event) {
      $clicked_tr = $(this);
      api.boxScore($clicked_tr.attr('id'), function(html) {
        // Update boxscore
        $('#game_log_box_score').html(html);

        // Update gamelist highlighting
        $clicked_tr.parent().children().each(function() {
          $(this).removeClass('alert-info');
        });
        $clicked_tr.addClass('alert-info');
      });
    });
  });
</script>

<form action="/l/{{g.lid}}/game_log" method="GET" class="form-inline pull-right">
  <select id="game_log_select_abbrev" name="team" class="team">
    {{#teams}}
      <option value="{{abbrev}}"{{#if selected}} selected="selected"{{/if}}}>{{region}} {{name}}</option>
    {{/teams}}
  </select>
  <select id="game_log_select_season" name="season" class="season">
    {{#seasons}}
      <option value="{{season}}"{{#if selected}} selected="selected"{{/if}}>{{season}} season</option>
    {{/seasons}}
  </select>
</form>

<h1>Game Log</h1>

<p>
<div class="row-fluid">
  <div class="span9">
    <div id="game_log_box_score">
      <p>Select a game from the menu on the right to view a box score.</p>
    </div>
  </div>

  <div class="span3" id="game_log_list">
  </div>
</div>
</p>
