{{#games}}
  <tr{{#if selected}} class="alert-info"{{/if}}><td><a href="/l/{{../lid}}/game_log/{{../abbrev}}/{{../season}}/{{gid}}">{{#unless home}}@{{/unless}}{{oppAbbrev}}</a></td><td><a href="/l/{{../lid}}/game_log/{{../abbrev}}/{{../season}}/{{gid}}">{{#if won}}W{{else}}L{{/if}}</a></td><td><a href="/l/{{../lid}}/game_log/{{../abbrev}}/{{../season}}/{{gid}}">{{pts}}-{{oppPts}}{{overtime}}</a></td></tr>
{{/games}}
