<form action="/l/{{lid}}/game_log" method="GET" class="form-inline pull-right">
  <select id="game-log-select-team" name="team" class="team">
    {{#teams}}
      <option value="{{abbrev}}"{{#if selected}} selected="selected"{{/if}}}>{{region}} {{name}}</option>
    {{/teams}}
  </select>
  <select id="game-log-select-season" name="season" class="season">
    {{#seasons}}
      <option value="{{season}}"{{#if selected}} selected="selected"{{/if}}>{{season}} season</option>
    {{/seasons}}
  </select>
</form>

<h1>Game Log {{new_window}}</h1>
<p>More: <a href="/l/{{lid}}/roster/{{abbrev}}/{{season}}">Roster</a> | <a href="/l/{{lid}}/team_finances/{{abbrev}}">Finances</a></p>

<p>
<div class="row-fluid">
  <div class="span9" id="box-score" data-gid="">
    {{{boxScore}}}
  </div>

  <div class="span3" id="game-log-list" data-abbrev="" data-season="">
    {{{gameLogList}}}
  </div>
</div>
</p>
