<h1>Inbox</h1>
{{#if anyUnread}}<p class="text-error">You have a new message from the owner. Read it before continuing.</p>{{/if}}
<p>
<table class="table table-striped table-bordered table-condensed" id="messages">
  <tbody>
    {{#messages}}
      <tr{{#unless read}} class="unread"{{/unless}}><td class="year"><a href="/l/{{../lid}}/message/{{mid}}">{{year}}</td><td class="from"><a href="/l/{{../lid}}/message/{{mid}}">{{from}}</a></td><td class="text"><a href="/l/{{../lid}}/message/{{mid}}">{{text}}</a></td></tr>
    {{/messages}}
  </tbody>
</table>
</p>