<div id="contentwrapper">
  <div id="league_content">
  </div>
</div>

<div id="league_menu" data-lid="{{lid}}">
  <div class="well sidebar-nav">
    <ul class="nav nav-list" id="league_sidebar">
      <li id="nav_league_dashboard"><a href="/l/{{lid}}">Dashboard</a></li>
      <li class="nav-header">League</li>
      <li id="nav_standings"><a href="/l/{{lid}}/standings">Standings</a></li>
      <li id="nav_playoffs"><a href="/l/{{lid}}/playoffs">Playoffs</a></li>
      <li id="nav_finances"><a href="/l/{{lid}}/league_finances">Finances</a></li>
      <li id="nav_history"><a href="/l/{{lid}}/history">History</a></li>
      <li class="nav-header">Team</li>
      <li id="nav_roster"><a href="/l/{{lid}}/roster">Roster</a></li>
      <li id="nav_schedule"><a href="/l/{{lid}}/schedule">Schedule</a></li>
      <li id="nav_team_history"><a href="/l/{{lid}}/team_history">History</a></li>
      <li class="nav-header">Players</li>
      <li id="nav_free_agents"><a href="/l/{{lid}}/free_agents">Free Agents</a></li>
      <li id="nav_trade"><a href="/l/{{lid}}/trade">Trade</a></li>
      <li id="nav_draft"><a href="/l/{{lid}}/draft">Draft</a></li>
      <li class="nav-header">Stats</li>
      <li id="nav_game_log"><a href="/l/{{lid}}/game_log">Game Log</a></li>
      <li id="nav_leaders"><a href="/l/{{lid}}/leaders">League Leaders</a></li>
      <li id="nav_player_ratings"><a href="/l/{{lid}}/player_ratings">Player Ratings</a></li>
      <li id="nav_player_stats"><a href="/l/{{lid}}/player_stats">Player Stats</a></li>
      <li id="nav_team_stats"><a href="/l/{{lid}}/team_stats">Team Stats</a></li>
    </ul>
  </div>
</div>
