<h1>{{region}} {{name}} Dashboard</h1>

<div class="row-fluid">
  <div class="span4">
    <h3>Current Record</h3>
    <p>
      {{won}}-{{lost}}{{#if streakLong}}, {{streakLong}}{{/if}}<br>
      <a href="/l/{{lid}}/standings">» Standings</a>
    </p>

    <h3>Playoffs</h3>
    <p>
      {{rank}}th place in conference<br>
      (Top 8 teams make the playoffs)<br>
      <a href="/l/{{lid}}/playoffs">» Playoff Projections (or Playoffs)</a>
    </p>

    <h3>Recent Games</h3>
    <p>
      {{#if nextGameAbbrev}}
        Next Game: {{#unless nextGameHome}}@{{/unless}}<a href="/l/{{lid}}/roster/{{nextGameAbbrev}}">{{nextGameAbbrev}}</a><br>
      {{/if}}
      {{#unless recentGames}}No completed games yet this season.<br>{{/unless}}
      {{#recentGames}}
        {{#unless home}}@{{/unless}}<a href="/l/{{../lid}}/roster/{{oppAbbrev}}">{{oppAbbrev}}</a> {{#if won}}won{{else}}lost{{/if}} <a href="/l/{{../lid}}/game_log/{{../abbrev}}/{{../season}}/{{gid}}">{{pts}}-{{oppPts}}</a><br>
      {{/recentGames}}
      <a href="/l/{{lid}}/game_log">» Game Log</a><br>
      <a href="/l/{{lid}}/standings">» Schedule</a>
    </p>

    <h3>Recent History</h3>
    <p>
      {{#unless recentGames}}None yet.<br>{{/unless}}
      {{#recentHistory}}
        <a href="/l/{{../lid}}/roster/{{../abbrev}}/{{season}}">{{season}}</a>: <a href="/l/{{../lid}}/standings/{{season}}">{{won}}-{{lost}}</a>{{#if extraText}}, <a href="/l/{{../../lid}}/playoffs/{{season}}">{{extraText}}</a>{{/if}}<br>
      {{/recentHistory}}
      <a href="/l/{{lid}}/team_history">» Team History</a><br>
      <a href="/l/{{lid}}/history">» League History</a>
    </p>

  </div>
  <div class="span4">
    <h3>Team Stats</h3>
    <p>
      Points: {{round pts 1}} ({{ptsRank}}th)<br>
      Allowed: {{round oppPts 1}} ({{oppPtsRank}}th)<br>
      Rebounds: {{round trb 1}} ({{trbRank}}th)<br>
      Assists: {{round ast 1}} ({{astRank}}th)<br>
      <a href="/l/{{lid}}/team_stats">» Team Stats</a>
    </p>

    <h3>Team Leaders</h3>
    <p>
      <a href="/l/{{lid}}/players/{{teamLeaders.pts.pid}}">{{teamLeaders.pts.name}}</a>: {{round teamLeaders.pts.stat 1}} pts<br>
      <a href="/l/{{lid}}/players/{{teamLeaders.trb.pid}}">{{teamLeaders.trb.name}}</a>: {{round teamLeaders.trb.stat 1}} reb<br>
      <a href="/l/{{lid}}/players/{{teamLeaders.ast.pid}}">{{teamLeaders.ast.name}}</a>: {{round teamLeaders.ast.stat 1}} ast<br>
      <a href="/l/{{lid}}/roster">» Full Roster</a>
    </p>

    <h3>League Leaders</h3>
    <p>
      <a href="/l/{{lid}}/players/{{leagueLeaders.pts.pid}}">{{leagueLeaders.pts.name}}</a>, <a href="/l/{{lid}}/roster/{{leagueLeaders.pts.abbrev}}">{{leagueLeaders.pts.abbrev}}</a>: {{round leagueLeaders.pts.stat 1}} pts<br>
      <a href="/l/{{lid}}/players/{{leagueLeaders.trb.pid}}">{{leagueLeaders.trb.name}}</a>, <a href="/l/{{lid}}/roster/{{leagueLeaders.trb.abbrev}}">{{leagueLeaders.trb.abbrev}}</a>: {{round leagueLeaders.trb.stat 1}} reb<br>
      <a href="/l/{{lid}}/players/{{leagueLeaders.ast.pid}}">{{leagueLeaders.ast.name}}</a>, <a href="/l/{{lid}}/roster/{{leagueLeaders.ast.abbrev}}">{{leagueLeaders.ast.abbrev}}</a>: {{round leagueLeaders.ast.stat 1}} ast<br>
      <a href="/l/{{lid}}/leaders">» League Leaders</a><br>
      <a href="/l/{{lid}}/player_stats">» Player Stats</a>
    </p>
  </div>
  <div class="span4">
    <h3>Expiring Contracts</h3>
    <p>
      Bob Johnson: 27 yo, 15 pts<br>
      Bob Johnson: 27 yo, 15 pts<br>
      Bob Johnson: 27 yo, 15 pts<br>
      <a href="/l/{{lid}}/roster">» Full Roster</a>
    </p>

    <h3>Finances</h3>
    <p>
      Avg Attendance: {{round att}}<br>
      Revenue (YTD): ${{round revenue 1}}M<br>
      Profit (YTD): ${{round profit 1}}M<br>
      Cash: ${{round cash 1}}M<br>
      Payroll: ${{round payroll 1}}M<br>
      Salary Cap: ${{round salaryCap 1}}M<br>
      <a href="/l/{{lid}}/finances">» League Finances</a>
    </p>

    <h3>Top Free Agents</h3>
    <p>
      Bob Johnson: 68 ovr, 71 pot<br>
      Bob Johnson: 68 ovr, 71 pot<br>
      Bob Johnson: 68 ovr, 71 pot<br>
      (You have {numRosterSpots} open roster spots)<br>
      <a href="/l/{{lid}}/free_agents">» Free Agents</a>
    </p>
  </div>
</div>