<div id="contentwrapper">
  <div id="league_content">
  </div>
</div>

<div id="league_menu" data-lid="{{g.lid}}">
  <div class="well sidebar-nav">
    <ul class="nav nav-list" id="league_sidebar">
      <li id="nav_league_dashboard"><a href="/l/{{g.lid}}">Dashboard</a></li>
      <li class="nav-header">League</li>
      <li id="nav_standings"><a href="/l/{{g.lid}}/standings">Standings</a></li>
      <li id="nav_playoffs"><a href="/l/{{g.lid}}/playoffs">Playoffs</a></li>
      <li id="nav_finances"><a href="/l/{{g.lid}}/finances">Finances</a></li>
      <li id="nav_transaction_log"><a href="#">Transaction Log</a></li>
      <li id="nav_history"><a href="/l/{{g.lid}}/history">History</a></li>
      <li class="nav-header">Team</li>
      <li id="nav_roster"><a href="/l/{{g.lid}}/roster">Roster</a></li>
      <li id="nav_schedule"><a href="/l/{{g.lid}}/schedule">Schedule</a></li>
      <li id="nav_history"><a href="#">History</a></li>
      <li class="nav-header">Players</li>
      <li id="nav_free_agents"><a href="/l/{{g.lid}}/free_agents">Free Agents</a></li>
      <li id="nav_trade"><a href="/l/{{g.lid}}/trade_">Trade</a></li>
      <li id="nav_draft"><a href="/l/{{g.lid}}/draft_">Draft</a></li>
      <li class="nav-header">Stats</li>
      <li id="nav_game_log"><a href="/l/{{g.lid}}/game_log">Game Log</a></li>
      <li id="nav_leaders"><a href="/l/{{g.lid}}/leaders">League Leaders</a></li>
      <li id="nav_player_ratings"><a href="/l/{{g.lid}}/player_ratings">Player Ratings</a></li>
      <li id="nav_player_stats"><a href="/l/{{g.lid}}/player_stats">Player Stats</a></li>
      <li id="nav_team_stats"><a href="#">Team Stats</a></li>
    </ul>
  </div>
</div>
