<h1>{{region}} {{name}} Dashboard</h1>

<div class="row-fluid">
  <div class="span4">
    <h2>Current Record</h2>
    <p>
      {{won}}-{{lost}}{{#if streakLong}}, {{streakLong}}{{/if}}<br>
      <a href="/l/{{lid}}/standings">» Standings</a>
    </p>

    <h2>Playoffs</h2>
    <p>
      {{rank}}th place in conference<br>
      (Top 8 teams make the playoffs)<br>
      <a href="/l/{{lid}}/playoffs">» Playoff Projections (or Playoffs)</a>
    </p>

    <h2>Recent Games</h2>
    <p>
      {{#unless recentGames}}No games yet this season.<br>{{/unless}}
      {{#recentGames}}
        {{#unless home}}@{{/unless}}<a href="/l/{{../lid}}/roster/{{oppAbbrev}}">{{oppAbbrev}}</a> {{#if won}}won{{else}}lost{{/if}} <a href="/l/{{../lid}}/game_log/{{../abbrev}}/{{../season}}/{{gid}}">{{pts}}-{{oppPts}}</a><br>
      {{/recentGames}}
      <a href="/l/{{lid}}/game_log">» Game Log</a><br>
      Next: @WAS (only show if applicable)<br>
      <a href="/l/{{lid}}/standings">» Schedule</a> (only show if applicable)
    </p>

    <h2>Recent History</h2>
    <p>
      {{#recentHistory}}
        <a href="/l/{{../lid}}/roster/{{../abbrev}}/{{season}}">{{season}}</a>: <a href="/l/{{../lid}}/standings/{{season}}">{{won}}-{{lost}}</a>{{#if extraText}}, <a href="/l/{{../../lid}}/playoffs/{{season}}">{{extraText}}</a>{{/if}}<br>
      {{/recentHistory}}
      <a href="/l/{{lid}}/team_history">» Full Team History</a><br>
      <a href="/l/{{lid}}/history">» League History</a>
    </p>

  </div>
  <div class="span4">
    <h2>Team Stats</h2>
    <p>
      Points: {{ptsRank}}th ({{round pts 1}})<br>
      Allowed: {{oppPtsRank}}th ({{round oppPts 1}})<br>
      Rebounds: {{trbRank}}th ({{round trb 1}})<br>
      Assists: {{astRank}}th ({{round ast 1}})<br>
      <a href="/l/{{lid}}/team_stats">» Team Stats</a>
    </p>

    <h2>Team Leaders</h2>
    <p>
      Bob Johnson: 14 pts<br>
      Bob Johnson: 14 reb<br>
      Bob Johnson: 14 ast<br>
      <a href="/l/{{lid}}/roster">» Full Roster</a>
    </p>

    <h2>League Leaders</h2>
    <p>
      Bob Johnson, ATL: 14 pts<br>
      Bob Johnson, ATL: 14 reb<br>
      Bob Johnson, ATL: 14 ast<br>
      <a href="/l/{{lid}}/leaders">» League Leaders</a><br>
      <a href="/l/{{lid}}/player_stats">» All Player Stats</a>
    </p>
  </div>
  <div class="span4">
    <h2>Expiring Contracts</h2>
    <p>
      Bob Johnson: 27 yo, 15 pts<br>
      Bob Johnson: 27 yo, 15 pts<br>
      Bob Johnson: 27 yo, 15 pts<br>
      <a href="/l/{{lid}}/roster">» Full Roster</a>
    </p>

    <h2>Finances</h2>
    <p>
      Avg Attendance: {{round att}}<br>
      Revenue (YTD): ${{round revenue 1}}M<br>
      Profit (YTD): ${{round profit 1}}M<br>
      Cash: ${{round cash 1}}M<br>
      Payroll: ${{round payroll 1}}M<br>
      Salary Cap: ${{round salaryCap 1}}M<br>
      <a href="/l/{{lid}}/finances">» League Finances</a>
    </p>

    <h2>Top Free Agents</h2>
    <p>
      Bob Johnson: 68 ovr, 71 pot<br>
      Bob Johnson: 68 ovr, 71 pot<br>
      Bob Johnson: 68 ovr, 71 pot<br>
      (You have {numRosterSpots} open roster spots)<br>
      <a href="/l/{{lid}}/free_agents">» Free Agents</a>
    </p>
  </div>
</div>