<h1>Contract negotiation</h1>

{{#if resigning}}
  <p>You are allowed to go over the salary cap to make this deal because you are resigning <a href="/l/{{lid}}/player/{{player.pid}}">{{player.name}}</a> to a contract extension. <strong>If you do not come to an agreement here, <a href="/l/{{lid}}/player/{{player.pid}}">{{player.name}}</a> will become a free agent.</strong> He will then be able to sign with any team, and you won't be able to go over the salary cap to sign him.</p>
{{else}}
  <p>You are not allowed to go over the salary cap to make this deal because <a href="/l/{{lid}}/player/{{player.pid}}">{{player.name}}</a> is a free agent.</p>
{{/if}}

<div class="row-fluid">
  <div class="span6">
    <h2>{{team.region}} {{team.name}}</h2>
    <p>Current Payroll: ${{round payroll 2}}M</p>
    <p>Salary Cap: ${{round salaryCap 2}}M</p>
    <h2>Your Proposal</h2>
    <form action="/l/{{lid}}/negotiation/{{player.pid}}" class="form-horizontal" method="POST">
      <input type="text" name="teamYears" id="teamYears" class="span1" value="{{negotiation.teamYears}}"> years
      <p><div class="input-prepend input-append">
        <span class="add-on">$</span><input type="text" name="teamAmount" id="teamAmount" class="span5" value="{{negotiation.teamAmount}}"><span class="add-on">M</span> per year
      </div></p>
      <button type="submit" class="btn btn-large btn-primary">Submit Proposal</button>  
    </form>

    <form action="/l/{{lid}}/negotiation/{{player.pid}}" class="form-horizontal" method="POST">
      <input type="hidden" name="cancel" value="1">
      <button type="submit" class="btn btn-danger">Can't reach a deal? End negotiation</button>
    </form>

  </div>
  <div class="span6">
    <h2><a href="/l/{{lid}}/player/{{player.pid}}">{{player.name}}</a></h2>
    <p>Overal: {{player.ovr}}</p>
    <p>Potential: {{player.pot}}</p>
    <h2>Player Proposal</h2>
    <p>{{negotiation.playerYears}} years (through {{negotiation.playerExpiration}})</p>
    <p>${{round negotiation.playerAmount 3}}M per year</p>
    <form action="/l/{{lid}}/negotiation/{{player.pid}}" class="form-horizontal" method="POST">
      <input type="hidden" name="accept" value="1">
      <button type="submit" class="btn btn-large btn-primary" id="accept">Accept Player Proposal</button>
    </form>
  </div>
</div>
