<h2><a href="/l/{{lid}}/roster/{{game.won.abbrev}}/{{game.season}}">{{game.won.region}} {{game.won.name}}</a> {{game.won.pts}}, <a href="/l/{{lid}}/roster/{{game.lost.abbrev}}/{{game.season}}">{{game.lost.region}} {{game.lost.name}}</a> {{game.lost.pts}}{{overtime}}</h2>
<p><a href="/l/{{lid}}/game_log/{{game.lost.abbrev}}/{{season}}/{{game.gid}}/box_score">View box score</a></p>
{{{game.playByPlay}}}
