<div class="row-fluid">
  <div class="span6">
    <h1>{{player.name}} {{new_window}}</h1>
    <div id="picture" class="player_picture">{{face player.face}}</div>
    <div style="float: left;">
      <strong>{{player.teamRegion}} {{player.teamName}}</strong><br>
      Height: {{player.hgtFt}}'{{player.hgtIn}}"<br>
      Weight: {{player.weight}} lbs<br>
      Age: {{player.age}}<br>
      Born: {{player.bornYear}} - {{player.bornLoc}}<br>
      {{#if player.draft.ound}}
        Draft: {{player.draft.year}} - Round {{player.draft.round}} (Pick {{player.draft.pick}}) by {{player.draft.abbrev}}<br>
      {{else}}
        Undrafted: {{player.draft.year}}<br>
      {{/if}}
      {{#if showContract}}
        {{#if freeAgent}}Asking for{{else}}Contract{{/if}}: {{currency player.contractAmount "M"}}/yr thru {{player.contractExp}}<br>
      {{/if}}
      {{#unless retired}}

      {{#if injured}}<span class="label label-important label-injury" title="{{player.injury.type}} (out {{player.injury.gamesRemaining}} more games)" style="margin-left: 0">{{player.injury.gamesRemaining}}</span><span class="skills_block">{{else}}<span class="skills_alone">{{/if}}{{skillsBlock currentRatings.skills}}</span><br>{{/unless}}
    </div>
  </div>
  {{#unless retired}}
    <div class="span6">
      <h2 class="pull-left">Overall: {{currentRatings.ovr}}</h2>
      <h2 class="pull-right">Potential: {{currentRatings.pot}}</h2><br><br><br>
      <div class="row-fluid">
        <div class="span4">
          <strong>Physical</strong><br/ >
          Height: {{currentRatings.hgt}}<br>
          Strength: {{currentRatings.stre}}<br>
          Speed: {{currentRatings.spd}}<br>
          Jumping: {{currentRatings.jmp}}<br>
          Endurance: {{currentRatings.endu}}
        </div>
        <div class="span4">
          <strong>Shooting</strong><br/ >
          Inside: {{currentRatings.ins}}<br>
          Layups: {{currentRatings.dnk}}<br>
          Free throws: {{currentRatings.ft}}<br>
          Two pointers: {{currentRatings.fg}}<br>
          Three pointers: {{currentRatings.tp}}
        </div>
        <div class="span4">
          <strong>Skill</strong><br/ >
          Blocks: {{currentRatings.blk}}<br>
          Steals: {{currentRatings.stl}}<br>
          Dribbling: {{currentRatings.drb}}<br>
          Passing: {{currentRatings.pss}}<br>
          Rebounding: {{currentRatings.reb}}
        </div>
      </div>
    </div>
  {{/unless}}
</div>

<p></p>
{{#if showTradeFor}}
  <form action="/l/{{lid}}/trade" method="POST"><input type="hidden" name="pid" value="{{player.pid}}"><button type="submit" class="btn btn-small">Trade For</button></form>
{{/if}}
{{#if freeAgent}}
  <form action="/l/{{lid}}/negotiation/{{player.pid}}" method="POST"><input type="hidden" name="new" value="1"><button type="submit" class="btn btn-small">Sign free agent</button></form>
{{/if}}

<h2>Regular Season</h2>
<h3>Stats</h3>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="player_stats">
  <thead>
    <tr><th colspan="6"></th><th colspan="3" style="text-align: center" title="Field Goals">FG</th><th colspan="3" style="text-align: center" title="Three-Pointers">3PT</th><th colspan="3" style="text-align: center" title="Free Throws">FT</th><th colspan="3" style="text-align: center" title="Rebounds">Reb</th><th colspan="6"></th></tr>
    <tr><th>Year</th><th>Team</th><th>Age</th><th title="Games Played">GP</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Offensive">Off</th><th title="Defensive">Def</th><th title="Total">Tot</th><th title="Assists">Ast</th><th title="Turnovers">TO</th><th title="Steals">Stl</th><th title="Blocks">Blk</th><th title="Personal Fouls">PF</th><th title="Points">Pts</th><th title="Player Efficiency Rating">PER</th></tr>
  </thead>
  <tbody>
  {{#player.stats}}
    <tr><td><a href="#">{{season}}</a></td><td><a href="/l/{{../lid}}/roster/{{abbrev}}/{{season}}">{{abbrev}}</a></td><td>{{age}}</td><td>{{gp}}</td><td>{{gs}}</td><td>{{round min 1}}</td><td>{{round fg 1}}</td><td>{{round fga 1}}</td><td>{{round fgp 1}}</td><td>{{round tp 1}}</td><td>{{round tpa 1}}</td><td>{{round tpp 1}}</td><td>{{round ft 1}}</td><td>{{round fta 1}}</td><td>{{round ftp 1}}</td><td>{{round orb 1}}</td><td>{{round drb 1}}</td><td>{{round trb 1}}</td><td>{{round ast 1}}</td><td>{{round tov 1}}</td><td>{{round stl 1}}</td><td>{{round blk 1}}</td><td>{{round pf 1}}</td><td>{{round pts 1}}</td><td>{{round per 1}}</td></tr>
  {{/player.stats}}
  </tbody>
  <tfoot>
  {{#with player.careerStats}}
    <tr><th>Career</th><th></th><th></th><th>{{gp}}</th><th>{{gs}}</th><th>{{round min 1}}</th><th>{{round fg 1}}</th><th>{{round fga 1}}</th><th>{{round fgp 1}}</th><th>{{round tp 1}}</th><th>{{round tpa 1}}</th><th>{{round tpp 1}}</th><th>{{round ft 1}}</th><th>{{round fta 1}}</th><th>{{round ftp 1}}</th><th>{{round orb 1}}</th><th>{{round drb 1}}</th><th>{{round trb 1}}</th><th>{{round ast 1}}</th><th>{{round tov 1}}</th><th>{{round stl 1}}</th><th>{{round blk 1}}</th><th>{{round pf 1}}</th><th>{{round pts 1}}</th><th>{{round per 1}}</th></tr>
  {{/with}}
  </tfoot>
</table>

<h3>Shot Locations</h3>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="player_stats">
  <thead>
    <tr><th colspan="6"></th><th colspan="3" style="text-align: center" title="At Rim">At Rim</th><th colspan="3" style="text-align: center" title="Low Post">Low Post</th><th colspan="3" style="text-align: center" title="Mid-Range">Mid-Range</th><th colspan="3" style="text-align: center" title="Three-Pointers">3PT</th></tr>
    <tr><th>Year</th><th>Team</th><th>Age</th><th title="Games Played">GP</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th></tr>
  </thead>
  <tbody>
  {{#player.stats}}
    <tr><td><a href="#">{{season}}</a></td><td><a href="/l/{{../lid}}/roster/{{abbrev}}/{{season}}">{{abbrev}}</a></td><td>{{age}}</td><td>{{gp}}</td><td>{{gs}}</td><td>{{round min 1}}</td><td>{{round fgAtRim 1}}</td><td>{{round fgaAtRim 1}}</td><td>{{round fgpAtRim 1}}</td><td>{{round fgLowPost 1}}</td><td>{{round fgaLowPost 1}}</td><td>{{round fgpLowPost 1}}</td><td>{{round fgMidRange 1}}</td><td>{{round fgaMidRange 1}}</td><td>{{round fgpMidRange 1}}</td><td>{{round tp 1}}</td><td>{{round tpa 1}}</td><td>{{round tpp 1}}</td></tr>
  {{/player.stats}}
  </tbody>
  <tfoot>
  {{#with player.careerStats}}
    <tr><th>Career</th><th></th><th></th><th>{{gp}}</th><th>{{gs}}</th><th>{{round min 1}}</th><th>{{round fgAtRim 1}}</th><th>{{round fgaAtRim 1}}</th><th>{{round fgpAtRim 1}}</th><th>{{round fgLowPost 1}}</th><th>{{round fgaLowPost 1}}</th><th>{{round fgpLowPost 1}}</th><th>{{round fgMidRange 1}}</th><th>{{round fgaMidRange 1}}</th><th>{{round fgpMidRange 1}}</th><th>{{round tp 1}}</th><th>{{round tpa 1}}</th><th>{{round tpp 1}}</th></tr>
  {{/with}}
  </tfoot>
</table>

<h2>Playoffs</h2>
<h3>Stats</h3>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="player_stats">
  <thead>
    <tr><th colspan="6"></th><th colspan="3" style="text-align: center" title="Field Goals">FG</th><th colspan="3" style="text-align: center" title="Three-Pointers">3PT</th><th colspan="3" style="text-align: center" title="Free Throws">FT</th><th colspan="3" style="text-align: center" title="Rebounds">Reb</th><th colspan="6"></th></tr>
    <tr><th>Year</th><th>Team</th><th>Age</th><th title="Games Played">GP</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Offensive">Off</th><th title="Defensive">Def</th><th title="Total">Tot</th><th title="Assists">Ast</th><th title="Turnovers">TO</th><th title="Steals">Stl</th><th title="Blocks">Blk</th><th title="Personal Fouls">PF</th><th title="Points">Pts</th><th title="Player Efficiency Rating">PER</th></tr>
  </thead>
  <tbody>
  {{#player.statsPlayoffs}}
    <tr><td><a href="#">{{season}}</a></td><td><a href="/l/{{../lid}}/roster/{{abbrev}}/{{season}}">{{abbrev}}</a></td><td>{{age}}</td><td>{{gp}}</td><td>{{gs}}</td><td>{{round min 1}}</td><td>{{round fg 1}}</td><td>{{round fga 1}}</td><td>{{round fgp 1}}</td><td>{{round tp 1}}</td><td>{{round tpa 1}}</td><td>{{round tpp 1}}</td><td>{{round ft 1}}</td><td>{{round fta 1}}</td><td>{{round ftp 1}}</td><td>{{round orb 1}}</td><td>{{round drb 1}}</td><td>{{round trb 1}}</td><td>{{round ast 1}}</td><td>{{round tov 1}}</td><td>{{round stl 1}}</td><td>{{round blk 1}}</td><td>{{round pf 1}}</td><td>{{round pts 1}}</td><td>{{round per 1}}</td></tr>
  {{/player.statsPlayoffs}}
  </tbody>
  <tfoot>
  {{#with player.careerStatsPlayoffs}}
    <tr><th>Career</th><th></th><th></th><th>{{gp}}</th><th>{{gs}}</th><th>{{round min 1}}</th><th>{{round fg 1}}</th><th>{{round fga 1}}</th><th>{{round fgp 1}}</th><th>{{round tp 1}}</th><th>{{round tpa 1}}</th><th>{{round tpp 1}}</th><th>{{round ft 1}}</th><th>{{round fta 1}}</th><th>{{round ftp 1}}</th><th>{{round orb 1}}</th><th>{{round drb 1}}</th><th>{{round trb 1}}</th><th>{{round ast 1}}</th><th>{{round tov 1}}</th><th>{{round stl 1}}</th><th>{{round blk 1}}</th><th>{{round pf 1}}</th><th>{{round pts 1}}</th><th>{{round per 1}}</th></tr>
  {{/with}}
  </tfoot>
</table>

<h3>Shot Locations</h3>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="player_stats">
  <thead>
    <tr><th colspan="6"></th><th colspan="3" style="text-align: center" title="At Rim">At Rim</th><th colspan="3" style="text-align: center" title="Low Post">Low Post</th><th colspan="3" style="text-align: center" title="Mid-Range">Mid-Range</th><th colspan="3" style="text-align: center" title="Three-Pointers">3PT</th></tr>
    <tr><th>Year</th><th>Team</th><th>Age</th><th title="Games Played">GP</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th></tr>
  </thead>
  <tbody>
  {{#player.statsPlayoffs}}
    <tr><td><a href="#">{{season}}</a></td><td><a href="/l/{{../lid}}/roster/{{abbrev}}/{{season}}">{{abbrev}}</a></td><td>{{age}}</td><td>{{gp}}</td><td>{{gs}}</td><td>{{round min 1}}</td><td>{{round fgAtRim 1}}</td><td>{{round fgaAtRim 1}}</td><td>{{round fgpAtRim 1}}</td><td>{{round fgLowPost 1}}</td><td>{{round fgaLowPost 1}}</td><td>{{round fgpLowPost 1}}</td><td>{{round fgMidRange 1}}</td><td>{{round fgaMidRange 1}}</td><td>{{round fgpMidRange 1}}</td><td>{{round tp 1}}</td><td>{{round tpa 1}}</td><td>{{round tpp 1}}</td></tr>
  {{/player.statsPlayoffs}}
  </tbody>
  <tfoot>
  {{#with player.careerStatsPlayoffs}}
    <tr><th>Career</th><th></th><th></th><th>{{gp}}</th><th>{{gs}}</th><th>{{round min 1}}</th><th>{{round fgAtRim 1}}</th><th>{{round fgaAtRim 1}}</th><th>{{round fgpAtRim 1}}</th><th>{{round fgLowPost 1}}</th><th>{{round fgaLowPost 1}}</th><th>{{round fgpLowPost 1}}</th><th>{{round fgMidRange 1}}</th><th>{{round fgaMidRange 1}}</th><th>{{round fgpMidRange 1}}</th><th>{{round tp 1}}</th><th>{{round tpa 1}}</th><th>{{round tpp 1}}</th></tr>
  {{/with}}
  </tfoot>
</table>

<h2>Ratings</h2>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="player_ratings">
  <thead>
    <tr><th>Year</th><th>Team</th><th>Age</th><th title="Overall">Ovr</th><th title="Potential">Pot</th><th title="Height">Hgt</th><th title="Strength">Str</th><th title="Speed">Spd</th><th title="Jumping">Jmp</th><th title="Endurance">End</th><th title="Inside Scoring">Ins</th><th title="Dunks/Layups">Dnk</th><th title="Free Throw Shooting">FT</th><th title="Two-Point Shooting">2Pt</th><th title="Three-Point Shooting">3Pt</th><th title="Blocks">Blk</th><th title="Steals">Stl</th><th title="Dribbling">Drb</th><th title="Passing">Pss</th><th title="Rebounding">Reb</th><th>Skills</th></tr>
  </thead>
  <tbody>
    {{#player.ratings}}
      <tr><td>{{season}}</td><td><a href="/l/{{../lid}}/roster/{{abbrev}}/{{season}}">{{abbrev}}</a></td><td>{{age}}</td><td>{{ovr}}</td><td>{{pot}}</td><td>{{hgt}}</td><td>{{stre}}</td><td>{{spd}}</td><td>{{jmp}}</td><td>{{endu}}</td><td>{{ins}}</td><td>{{dnk}}</td><td>{{ft}}</td><td>{{fg}}</td><td>{{tp}}</td><td>{{blk}}</td><td>{{stl}}</td><td>{{drb}}</td><td>{{pss}}</td><td>{{reb}}</td><td><span class="skills_alone">{{skillsBlock skills}}</span></td></tr>
    {{/player.ratings}}
  </tbody>
</table>

<h2>Awards</h2>
{{#if player.awards}}
<table cellpadding="0" cellspacing="0" border="0" class="table table-nonfluid table-striped table-bordered table-condensed" id="player-awards">
  <thead>
    <tr><th>Season</th><th>Award</th></tr>
  </thead>
  <tbody>
    {{#player.awards}}
      <tr><td>{{season}}</td><td>{{type}}</td></tr>
    {{/player.awards}}
  </tbody>
</table>
{{else}}
<p>None.</p>
{{/if}}

<h2>Salaries</h2>
<table cellpadding="0" cellspacing="0" border="0" class="table table-nonfluid table-striped table-bordered table-condensed" id="player-salaries">
  <thead>
    <tr><th>Season</th><th>Amount</th></tr>
  </thead>
  <tbody>
    {{#player.salaries}}
      <tr><td>{{season}}</td><td>{{currency amount "M" 2}}</td></tr>
    {{/player.salaries}}
  </tbody>
  <tfoot>
    <tr><th>Total</th><th>{{currency player.salariesTotal "M" 2}}</th></tr>
  </tfoot>
</table>