<form action="/l/{{lid}}/standings" method="GET" class="form-inline pull-right">
  <select id="standings-select-season" name="season" class="season">
    {{#seasons}}
      <option value="{{season}}"{{#if selected}} selected="selected"{{/if}}>{{season}} season</option>
    {{/seasons}}
  </select>
</form>

<h1>Standings {{new_window}}</h1>

{{#confs}}
  <h2>{{name}}</h2>
  <div class="row-fluid">
    <div class="span9">
      {{#divs}}
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed">
          <thead>
            <tr><th width="100%">{{name}}</th><th>W</th><th>L</th><th>Pct</th><th>GB</th><th>Home</th><th>Road</th><th>Div</th><th>Conf</th><th>Streak</th><th>L10</th></tr>
          </thead>
          <tbody>
          {{#teams}}
            <tr><td><a href="/l/{{../../../lid}}/roster/{{abbrev}}/{{../../../season}}">{{region}} {{name}}</a></td><td>{{won}}</td><td>{{lost}}</td><td>{{roundWinp winp}}</td><td>{{gb}}</td><td>{{wonHome}}-{{lostHome}}</td><td>{{wonAway}}-{{lostAway}}</td><td>{{wonDiv}}-{{lostDiv}}</td><td>{{wonConf}}-{{lostConf}}</td><td>{{streak}}</td><td>{{lastTen}}</td></tr>
          {{/teams}}
          </tbody>
          </table>
      {{/divs}}
    </div>

    <div class="span3">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr><th width="100%">Team</th><th align="right">GB</th></tr>
      </thead>
      <tbody>
      {{#teams}}
        <tr{{#if separator}} class="separator"{{/if}}><td>{{rank}}. <a href="/l/{{../../lid}}/roster/{{abbrev}}/{{../../season}}">{{region}}</a></td><td align="right">{{gb}}</td></tr>
      {{/teams}}
      </tbody>
      </table>
    </div>
  </div>
{{/confs}}