<form action="/l/{{lid}}/team_finances" method="GET" class="form-inline pull-right">
  <select id="team-finances-select-team" name="team" class="team">
    {{#teams}}
      <option value="{{abbrev}}"{{#if selected}} selected="selected"{{/if}}}>{{region}} {{name}}</option>
    {{/teams}}
  </select>
  <select id="team-finances-select-season" name="season" class="season">
    {{#seasons}}
      <option value="{{season}}"{{#if selected}} selected="selected"{{/if}}>{{season}} season</option>
    {{/seasons}}
  </select>
</form>

<h1>{{team.region}} {{team.name}} Finances {{new_window}}</h1>

<p>
  Salary cap: <strong>${{round salaryCap}}M</strong> (teams over this amount cannot sign free agents for more than the minimum contract)<br>
  Minimum payroll limit: <strong>${{round minPayroll}}M</strong> (teams with payrolls below this limit will be assessed a fine equal to the difference at the end of the season)<br>
  Luxury tax limit: <strong>${{round luxuryPayroll}}M</strong> (teams with payrolls above this limit will be assessed a fine equal to {{luxuryTax}} times the difference at the end of the season)
</p>

<div class="row-fluid">
  <div class="span2">
    <h4>Wins</h4>
    <div id="bar-graph-won" class="bar-graph-small"></div><br><br>
    <h4>Payroll</h4>
    <div id="bar-graph-payroll" class="bar-graph-small"></div><br><br>
    <h4>Hype</h4>
    <div id="bar-graph-hype" class="bar-graph-small"></div><br><br>
    <h4>Region Population</h4>
    <div id="bar-graph-pop" class="bar-graph-small"></div><br><br>
    <h4>Average Attendance</h4>
    <div id="bar-graph-att" class="bar-graph-small"></div>
  </div>
  <div class="span10">
    <div class="row-fluid">
      <h3>Revenue</h3>
      <div id="bar-graph-revenue" class="bar-graph-large"></div><br><br>
      <h3>Expenses</h3>
      <div id="bar-graph-expenses" class="bar-graph-large"></div><br><br>
      <h3>Cash</h3>
      <div id="bar-graph-profit" class="bar-graph-medium"></div>
  </div>
</div>