<form action="/l/{{lid}}/team_finances" method="GET" class="form-inline pull-right">
  <select id="team-finances-select-team" name="team" class="team">
    {{#teams}}
      <option value="{{abbrev}}"{{#if selected}} selected="selected"{{/if}}}>{{region}} {{name}}</option>
    {{/teams}}
  </select>
  <select id="team-finances-select-show" name="show" class="past-x">
    {{#shows}}
      <option value="{{show}}"{{#if selected}} selected="selected"{{/if}}>{{text}}</option>
    {{/shows}}
  </select>
</form>

<h1>{{team.region}} {{team.name}} Finances {{new_window}}</h1>
<p>More: <a href="/l/{{lid}}/roster/{{team.abbrev}}">Roster</a> | <a href="/l/{{lid}}/game_log/{{team.abbrev}}">Game Log</a></p>

<p class="clearfix">The current payroll (<strong>${{round payroll}}M</strong>) is {{aboveBelow.minPayroll}} the minimum payroll limit (<strong>${{round minPayroll}}M</strong>), {{aboveBelow.salaryCap}} the salary cap (<strong>${{round salaryCap}}M</strong>), and {{aboveBelow.luxuryPayroll}} the luxury tax limit (<strong>${{round luxuryPayroll}}M</strong>). <i class="icon-question-sign" id="help-payroll-limits" data-placement="bottom"></i></p>

<div class="row-fluid">
  <div class="span2">
    <h4>Wins</h4>
    <div id="bar-graph-won" class="bar-graph-small"></div><br><br>
    <span class="clickover"><h4>Hype <i class="icon-question-sign" id="help-hype" data-placement="right"></i></h4></span>
    <div id="bar-graph-hype" class="bar-graph-small"></div><br><br>
    <h4>Region Population</h4>
    <div id="bar-graph-pop" class="bar-graph-small"></div><br><br>
    <h4>Average Attendance</h4>
    <div id="bar-graph-att" class="bar-graph-small"></div>
  </div>
  <div class="span5">
    <div class="row-fluid">
      <h4>Revenue</h4>
      <div id="bar-graph-revenue" class="bar-graph-large"></div><br><br>
      <h4>Expenses</h4>
      <div id="bar-graph-expenses" class="bar-graph-large"></div><br><br>
      <h4>Cash</h4>
      <div id="bar-graph-cash" class="bar-graph-medium"></div>
    </div>
  </div>
  <div class="span5">
    <form action="/l/{{lid}}/team_finances" method="POST" id="finances-settings">
      {{#with team}}
      <h4>Revenue Settings <i class="icon-question-sign" id="help-revenue-settings" data-placement="bottom"></i></h4>
      <p class="text-error"></p>
      <div class="row">
        <div class="pull-left finances-settings-label">Ticket Price</div>
        <div class="input-prepend pull-left finances-settings-field">
          <span class="add-on">$</span><input type="text" name="budget[ticketPrice]" class="ticket-price" value="{{budget.ticketPrice.amount}}" disabled="disabled">
        </div>
        <div class="pull-left finances-settings-text">(#{{budget.ticketPrice.rank}} leaguewide)</div>
      </div>
      <p></p>
      <h4>Expense Settings <i class="icon-question-sign" id="help-expense-settings" data-placement="bottom"></i></h4>
      <p class="text-error"></p>
      <div class="row">
        <div class="pull-left finances-settings-label">Scouting</div>
        <div class="input-prepend input-append pull-left finances-settings-field">
          <span class="add-on">$</span><input type="text" name="budget[scouting]" class="ticket-price" value="{{budget.scouting.amount}}" disabled="disabled"><span class="add-on">M</span>
        </div>
        <div class="pull-left finances-settings-text-small">Current spending rate: #{{budget.scouting.rank}}<br>Spent this season: #{{expenses.scouting.rank}}</div>
      </div>
      <div class="row">
        <div class="pull-left finances-settings-label">Coaching</div>
        <div class="input-prepend input-append pull-left finances-settings-field">
          <span class="add-on">$</span><input type="text" name="budget[coaching]" class="ticket-price" value="{{budget.coaching.amount}}" disabled="disabled"><span class="add-on">M</span>
        </div>
        <div class="pull-left finances-settings-text-small">Current spending rate: #{{budget.coaching.rank}}<br>Spent this season: #{{expenses.coaching.rank}}</div>
      </div>
      <div class="row">
        <div class="pull-left finances-settings-label">Health</div>
        <div class="input-prepend input-append pull-left finances-settings-field">
          <span class="add-on">$</span><input type="text" name="budget[health]" class="ticket-price" value="{{budget.health.amount}}" disabled="disabled"><span class="add-on">M</span>
        </div>
        <div class="pull-left finances-settings-text-small">Current spending rate: #{{budget.health.rank}}<br>Spent this season: #{{expenses.health.rank}}</div>
      </div>
      <div class="row">
        <div class="pull-left finances-settings-label">Facilities</div>
        <div class="input-prepend input-append pull-left finances-settings-field">
          <span class="add-on">$</span><input type="text" name="budget[facilities]" class="ticket-price" value="{{budget.facilities.amount}}" disabled="disabled"><span class="add-on">M</span>
        </div>
        <div class="pull-left finances-settings-text-small">Current spending rate: #{{budget.facilities.rank}}<br>Spent this season: #{{expenses.facilities.rank}}</div>
      </div>
      <br>
      <p align="center"><button class="btn btn-large btn-primary" style="line-height: 1.5em">Save Revenue and<br> Expense Settings</button></p>
      {{/with}}
    </form>
  </div>
</div>
<p class="clearfix"></p>

<h2>Player Salaries</h2>

<p>You can release or buy out players from <a href="/l/{{lid}}/roster">your roster</a>. Released players who are still owed money are <i>shown in italics</i>.</p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="player-salaries">
<thead>
  <tr><th>Name</th><th>{{salariesSeasons.[0]}}</th><th>{{salariesSeasons.[1]}}</th><th>{{salariesSeasons.[2]}}</th><th>{{salariesSeasons.[3]}}</th><th>{{salariesSeasons.[4]}}</th></tr>
</thead>
<tbody>
</tbody>
<tfoot>
  <tr><th>Totals</th><th>{{currency contractTotals.[0] "M"}}</th><th>{{currency contractTotals.[1] "M"}}</th><th>{{currency contractTotals.[2] "M"}}</th><th>{{currency contractTotals.[3] "M"}}</th><th>{{currency contractTotals.[4] "M"}}</th></tr>
</tfoot>
</table>