<form action="/l/{{lid}}/team_finances" method="GET" class="form-inline pull-right">
  <select id="team-finances-select-team" name="team" class="team">
    {{#teams}}
      <option value="{{abbrev}}"{{#if selected}} selected="selected"{{/if}}}>{{region}} {{name}}</option>
    {{/teams}}
  </select>
  <select id="team-finances-select-season" name="season" class="season">
    {{#seasons}}
      <option value="{{season}}"{{#if selected}} selected="selected"{{/if}}>{{season}} season</option>
    {{/seasons}}
  </select>
</form>

<h1>{{team.region}} {{team.name}} Finances {{new_window}}</h1>

<p>The {{team.region}} {{team.name}} current payroll (<strong>$???M</strong>) is above the minimum payroll limit (<strong>${{round minPayroll}}M</strong>), below the salary cap (<strong>${{round salaryCap}}M</strong>), and below the luxury tax limit (<strong>${{round luxuryPayroll}}M</strong>). HELP?</p>

<div class="row-fluid">
  <div class="span2">
    <h4>Wins</h4>
    <div id="bar-graph-won" class="bar-graph-small"></div><br><br>
    <h4>Hype</h4>
    <div id="bar-graph-hype" class="bar-graph-small"></div><br><br>
    <h4>Region Population</h4>
    <div id="bar-graph-pop" class="bar-graph-small"></div><br><br>
    <h4>Average Attendance</h4>
    <div id="bar-graph-att" class="bar-graph-small"></div>
  </div>
  <div class="span10">
    <div class="row-fluid">
      <h3>Revenue</h3>
      <div id="bar-graph-revenue" class="bar-graph-large"></div><br><br>
      <h3>Expenses</h3>
      <div id="bar-graph-expenses" class="bar-graph-large"></div><br><br>
      <h3>Cash</h3>
      <div id="bar-graph-cash" class="bar-graph-medium"></div>
  </div>
</div>