<form action="/l/{{lid}}/team_finances" method="GET" class="form-inline pull-right">
  <select id="team-finances-select-team" name="team" class="team">
    {{#teams}}
      <option value="{{abbrev}}"{{#if selected}} selected="selected"{{/if}}}>{{region}} {{name}}</option>
    {{/teams}}
  </select>
  <select id="team-finances-select-show" name="show" class="season">
    {{#shows}}
      <option value="{{show}}"{{#if selected}} selected="selected"{{/if}}>{{text}}</option>
    {{/shows}}
  </select>
</form>

<h1>{{team.region}} {{team.name}} Finances {{new_window}}</h1>

<p class="clearfix">The current payroll (<strong>${{round payroll}}M</strong>) is {{aboveBelow.minPayroll}} the minimum payroll limit (<strong>${{round minPayroll}}M</strong>), {{aboveBelow.salaryCap}} the salary cap (<strong>${{round salaryCap}}M</strong>), and {{aboveBelow.luxuryPayroll}} the luxury tax limit (<strong>${{round luxuryPayroll}}M</strong>). <i class="icon-question-sign" id="help-payroll-limits"></i></p>

<div class="row-fluid">
  <div class="span2">
    <h4>Wins</h4>
    <div id="bar-graph-won" class="bar-graph-small"></div><br><br>
    <span class="clickover"><h4>Hype <i class="icon-question-sign" id="help-hype"></i></h4></span>
    <div id="bar-graph-hype" class="bar-graph-small"></div><br><br>
    <h4>Region Population</h4>
    <div id="bar-graph-pop" class="bar-graph-small"></div><br><br>
    <h4>Average Attendance</h4>
    <div id="bar-graph-att" class="bar-graph-small"></div>
  </div>
  <div class="span10">
    <div class="row-fluid">
      <h3>Revenue</h3>
      <div id="bar-graph-revenue" class="bar-graph-large"></div><br><br>
      <h3>Expenses</h3>
      <div id="bar-graph-expenses" class="bar-graph-large"></div><br><br>
      <h3>Cash</h3>
      <div id="bar-graph-cash" class="bar-graph-medium"></div>
  </div>
</div>
<p class="clearfix"></p>

<h2>Player Salaries</h2>

<p>You can release or buy out players from <a href="/l/{{lid}}/roster">your roster</a>.</p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="player-salaries">
<thead>
  <tr><th>Name</th><th>{{salariesSeasons.[0]}}</th><th>{{salariesSeasons.[1]}}</th><th>{{salariesSeasons.[2]}}</th><th>{{salariesSeasons.[3]}}</th><th>{{salariesSeasons.[4]}}</th><th>{{salariesSeasons.[5]}}</th></tr>
</thead>
<tbody>
</tbody>
</table>