<script type="text/javascript">
$(document).ready(function() {
  bbgm.dropdown($('#team_stats_select_season'));

  bbgm.datatableSinglePage($('#team_stats'), 23, [
    {{#teams}}
	    ['<a href="/l/{{../g.lid}}/roster/{{abbrev}}">{{abbrev}}</a>', '{{gp}}', '{{round fg 1}}', '{{round fga 1}}', '{{roundWinp fgp}}', '{{round tp 1}}', '{{round tpa 1}}', '{{round tpp 1}}', '{{round ft 1}}', '{{round fta 1}}', '{{round ftp 1}}', '{{round orb 1}}', '{{round drb 1}}', '{{round trb 1}}', '{{round ast 1}}', '{{round tov 1}}', '{{round stl 1}}', '{{round blk 1}}', '{{round pf 1}}', '{{round pts 1}}', '{{round oppPts 1}}'],
    {{/teams}}
  ]);
});
</script>

<form action="/l/{{g.lid}}/team_stats" method="GET" class="form-inline pull-right">
  <select id="team_stats_select_season" name="season" class="season">
    {{#seasons}}
      <option value="{{season}}"{{#if selected}} selected="selected"{{/if}}>{{season}} season</option>
    {{/seasons}}
  </select>
</form>

<h1>Team Stats</h1>

<p class="clearfix">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="team_stats">
<thead>
  <tr><th colspan="2"></th><th colspan="3" style="text-align: center" title="Field Goals">FG</th><th colspan="3" style="text-align: center" title="Three-Pointers">3PT</th><th colspan="3" style="text-align: center" title="Free Throws">FT</th><th colspan="3" style="text-align: center" title="Rebounds">Reb</th><th colspan="7"></th></tr>
  <tr><th>Team</th><th title="Games Played">GP</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Offensive">Off</th><th title="Defensive">Def</th><th title="Total">Tot</th><th title="Assists">Ast</th><th title="Turnovers">TO</th><th title="Steals">Stl</th><th title="Blocks">Blk</th><th title="Personal Fouls">PF</th><th title="Points">Pts</th><th title="Opponent's Points">OPts</th></tr>
</thead>
</table>
</p>