<h3>Trade Summary</h3>
<div class="row-fluid">
  <div class="span6">
    <h4>{{summary.teams.0.name}}</h4>
    <h5>Trade Away:</h5>
    <ul>
      {{#summary.teams.0.trade}}
        <li><a href="/l/{{../lid}}/player/{{pid}}">{{name}}</a> ({{currency contract.amount "M"}})</li>
      {{/summary.teams.0.trade}}
      <li>{{currency summary.teams.0.total "M"}} Total</li>
    </ul>
    <h5>Receive:</h5>
    <ul>
      {{#summary.teams.1.trade}}
        <li><a href="/l/{{../lid}}/player/{{pid}}">{{name}}</a> ({{currency contract.amount "M"}})</li>
      {{/summary.teams.1.trade}}
      <li>{{currency summary.teams.1.total "M"}} Total</li>
    </ul>
    <h5>Payroll after trade: {{currency summary.teams.0.payrollAfterTrade "M"}}</h5>
    <h5>Salary cap: {{currency summary.salaryCap "M"}}</h5>
  </div>
  <div class="span6">
    <h4>{{summary.teams.1.name}}</h4>
    <h5>Trade Away:</h5>
    <ul>
      {{#summary.teams.1.trade}}
        <li><a href="/l/{{../lid}}/player/{{pid}}">{{name}}</a> ({{currency contract.amount "M"}})</li>
      {{/summary.teams.1.trade}}
      <li>{{currency summary.teams.1.total "M"}} Total</li>
    </ul>
    <h5>Receive:</h5>
    <ul>
      {{#summary.teams.0.trade}}
        <li><a href="/l/{{../lid}}/player/{{pid}}">{{name}}</a> ({{currency contract.amount "M"}})</li>
      {{/summary.teams.0.trade}}
      <li>{{currency summary.teams.0.total "M"}} Total</li>
    </ul>
    <h5>Payroll after trade: {{currency summary.teams.1.payrollAfterTrade "M"}}</h5>
    <h5>Salary cap: {{currency summary.salaryCap "M"}}</h5>
  </div>
</div>

<br>
{{#if summary.warning}}<p class="alert alert-error"><strong>Warning!</strong> {{summary.warning}}</p>{{/if}}
{{#if message}}<p class="alert alert-info">{{message}}</p>
{{/if}}

<center>
  <form action="/l/{{lid}}/trade" method="POST" id="propose-trade">
    <input type="hidden" name="propose" value="1">
    <button type="submit" class="btn btn-large btn-primary"{{#if summary.disablePropose}} disabled="disabled"{{/if}}>Propose Trade</button>
  </form>

  <form action="/l/{{lid}}/trade" method="POST" id="clear-trade">
    <input type="hidden" name="clear" value="1">
    <button type="submit" class="btn">Clear Trade</button>
  </form>
</center>
